.app_blue_theme {
    --bg-color: #dfee9b;
    --inverted-bg-color: #121409;
    --primary-color: #3d32d5;
    --secondary-color: #160092;
    --inverted-primary-color: #c6cdcb;
    --inverted-secondary-color: #cbf1e774;

    // skeleton
    --skeleton-color: #171a0b;
    --skeleton-shadow: #30351a;

    // code
    --code-bg: #e9f3bf;
}
