.app_dark_theme {
    --bg-color: #550774;
    --inverted-bg-color: #dac7e2;
    --primary-color: rgb(7 137 130);
    --secondary-color: rgb(5 161 156);
    --inverted-primary-color: rgb(198 28 139);
    --inverted-secondary-color: rgb(155 9 16);
}
