.app_light_theme {
    --bg-color: #dac7e2;
    --inverted-bg-color: #550774;
    --primary-color: rgb(198 28 139);
    --secondary-color: rgb(155 9 16);
    --inverted-primary-color: rgb(7 137 130);
    --inverted-secondary-color: rgb(5 161 156);

    // skeleton
    --skeleton-color: #470462;
    --skeleton-shadow: #7b1ca0;
}
