.app_light_theme {
    --bg-color: #dac7e2;
    --inverted-bg-color: #550774;
    --primary-color: rgb(198 28 139);
    --secondary-color: rgb(155 9 16);
    --inverted-primary-color: rgb(7 137 130);
    --inverted-secondary-color: rgb(5 161 156);

    // redesigned
    --dark-bg-redesigned: #FFFFFF;
    --bg-redesigned: #EFF5F6;
    --light-bg-redesigned: #E2EEF1;
    --text-redesigned: #141C1F;
    --hint-redesigned: #ADBCC0;
    --cancel-redesigned: #FF7777;
    --save-redesigned: #62DE85;
    --icon-redesigned: #5ED3F3;
    --accent-redesigned: #00C8FF;

    // skeleton
    --skeleton-color: #470462;
    --skeleton-shadow: #7b1ca0;

    // code
    --code-bg: #e9e0ed;

    // card
    --card-bg: #d0b8da;
}
