.ProfileCardDeprecated {
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
    display: flex;
    align-items: center;
}

.loading,
.error {
    height: 300px;
}

.editing {
    border: 2px solid var(--inverted-primary-color);
}

.EditInfo {
    max-width: 800px;
}
